root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cs,csx}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,props,targets,csproj,slnx}]
indent_style = space
indent_size = 2

[*.sln]
indent_style = tab

[*.ps1]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
